{% load static %}

<!-- FOOTER STARTS -->
{% with footer=footer_config %}
<footer class="rich-black-bg text-left">
    <div class="container">
        <div class="row pb-3">
            <!-- Section sociale -->
            <div class="col-lg-4 col-12 socialmedia animated" data-animation="fadeInUp" data-animation-delay="100">
                <strong>{{ footer.nom_entreprise }}</strong><br>
                <p class="pt-3">{{ footer.description }}</p>
                <ul class="pt-1 SM">
                    {% if footer.instagram %}
                    <li><a href="{{ footer.instagram }}" target="_blank"><i class="lab la-instagram"></i></a></li>
                    {% endif %}
                    {% if footer.facebook %}
                    <li><a href="{{ footer.facebook }}" target="_blank"><i class="lab la-facebook-f"></i></a></li>
                    {% endif %}
                    {% if footer.pinterest %}
                    <li><a href="{{ footer.pinterest }}" target="_blank"><i class="lab la-pinterest"></i></a></li>
                    {% endif %}
                    {% if footer.tiktok %}
                    <li><a href="{{ footer.tiktok }}" target="_blank"><i class="lab la-tiktok"></i></a></li>
                    {% endif %}
                </ul>
            </div>
            
            <!-- Liens boutique -->
            <div class="col-lg-2 col-6 links offset-lg-1 animated" data-animation="fadeInUp" data-animation-delay="100">
                <strong>Boutique</strong><br>
                <ul class="pt-3">
                    {% for lien in liens_boutique %}
                    <li><a href="{{ lien.url }}">{{ lien.texte }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
            <!-- Liens collections -->
            <div class="col-lg-2 col-6 links animated" data-animation="fadeInUp" data-animation-delay="100">
                <strong>Collections</strong><br>
                <ul class="pt-3">
                    {% for lien in liens_collections %}
                    <li><a href="{{ lien.url }}">{{ lien.texte }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
            <!-- Contact -->
            <div class="col-lg-3 col-12 contact-info animated" data-animation="fadeInUp" data-animation-delay="100">
                <strong>Atelier & Showroom</strong><br>
                <ul class="pt-3">
                    <li><i class="las la-map-marker"></i> {{ footer.adresse|linebreaksbr }}</li>
                    <li><i class="las la-envelope"></i> <a href="mailto:{{ footer.email }}">{{ footer.email }}</a></li>
                    <li><i class="las la-phone"></i> {{ footer.telephone }}</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row pt-3 copyright text-center animated" data-animation="fadeInUp" data-animation-delay="500">
            <div class="col-12">							
                {{ footer.copyright_texte }}
            </div>
        </div>
    </div>
</footer>
{% endwith %}
<!-- FOOTER ENDS -->