{% load static %}
{% load navigation_tags %}

{% get_site_settings as settings %}
{% get_navigation_items as nav_items %}

<!-- NAVIGATION STARTS -->	
<nav id="navigation" class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container-fluid">
        <!-- Logo blanc -->
        <a class="navbar-brand white-logo" href="{% url 'website:home' %}">
            {% if settings.logo_white %}
                <img src="{{ settings.logo_white.url }}" class="img-fluid" alt="{{ settings.site_name }}">
            {% else %}
                <img src="{% static 'website/assets/imgs/logo-white.png' %}" class="img-fluid" alt="{{ settings.site_name }}">
            {% endif %}
        </a>
        
        <!-- Logo noir -->
        <a class="navbar-brand black-logo" href="{% url 'website:home' %}">
            {% if settings.logo %}
                <img src="{{ settings.logo.url }}" class="img-fluid" alt="{{ settings.site_name }}">
            {% else %}
                <img src="{% static 'website/assets/imgs/logo.png' %}" class="img-fluid" alt="{{ settings.site_name }}">
            {% endif %}
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ms-auto">
                {% for item in nav_items %}
                    {% if item.has_dropdown and item.children.all %}
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{{ item|get_nav_url }}">
                                {{ item.title }} <i class="las la-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                {% for child in item.children.all %}
                                    {% if child.is_active %}
                                    <li>
                                        <a class="dropdown-item" href="{{ child|get_nav_url }}">
                                            {{ child.title }}
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == item|get_nav_url %}active{% endif %}" 
                               href="{{ item|get_nav_url }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            
            <span class="ps-3 d-none d-lg-block">
                <a href="{{ settings.buy_button_url }}" class="btn btn-primary" target="_blank">
                    {{ settings.buy_button_text }}
                </a>
            </span>
        </div>
    </div>
</nav>
<!-- NAVIGATION ENDS -->