<!-- Dans la sidebar -->
<div class="categories animated" data-animation="fadeInUp" data-animation-delay="300">
    <h2>Catégories</h2>
    <ul>
        {% for categorie in categories %}
        <li class="clearfix">
            <div class="info">
                <h2><a href="{% url 'website:home' %}">{{ categorie.nom }}</a></h2>
                <h3>{{ categorie.description|truncatechars:50 }}</h3>
            </div>
            <div class="posts">[{{ categorie.nombre_articles }}]</div>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Articles populaires -->
<div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
    <ul>
        {% for article_pop in articles_populaires %}
        <li class="clearfix">
            <div class="picture">
                <img src="{{ article_pop.article.image_principale.url }}" width="72" height="72" alt="{{ article_pop.article.titre }}">
            </div>
            <div class="info">
                <div class="caption">
                    <a href="{{ article_pop.article.get_absolute_url }}">
                        {{ article_pop.article.titre|truncatechars:50 }}
                    </a>
                </div>
                <div class="date">{{ article_pop.article.date_publication|date:"M d, Y" }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Galerie photos -->
<div class="photos animated" data-animation="fadeInUp" data-animation-delay="200">
    <h2>Photos</h2>
    <div class="row popup-gallery">
        {% for image_galerie in images_galerie %}
        <div class="col-4">
            <a href="{{ image_galerie.image.url }}" title="{{ image_galerie.titre }}">
                <img src="{{ image_galerie.image.url }}" class="img-fluid" alt="{{ image_galerie.titre }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Mots-clés -->
<div class="tags animated" data-animation="fadeInUp" data-animation-delay="300">
    <h2>Mots-clés</h2>
    <div class="tag-list">
        {% for mot_cle in mots_cles %}
        <a href="{% url 'blog_mot_cle' mot_cle.slug %}">{{ mot_cle.nom }}</a>
        {% endfor %}
    </div>
</div>