<!-- CTA STARTS -->		
<section class="CTA-01 parallax-01" 
         {% if cta.background_image %}style="background-image: url('{{ cta.background_image.url }}')"{% endif %}>
    <div class="container ps-md-0">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-6">
                <div class="block">
                    <div class="herotext animated" data-animation="fadeInUp" data-animation-delay="200">
                        <div class="rightline pb-3"><span>{{ cta.section_title }}</span></div>
                        <h2>{{ cta.main_title }}</h2>
                        <div class="description pt-2">{{ cta.description }}</div>
                        
                        {% if cta.phone_number %}
                        <div class="callus pt-5">
                            <div class="info">
                                <div class="icon"><i class="las la-phone"></i></div>
                                <div class="number">
                                    <h4>{{ cta.phone_label }}</h4>
                                    <div>
                                        <a href="tel:{{ cta.get_phone_url }}">
                                            {{ cta.phone_display }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CTA ENDS -->