{% load static %}

<!-- PORTFOLIO STARTS -->
<section id="portfolio" class="portfolio pb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="herotext text-center animated" data-animation="fadeInUp" data-animation-delay="100">
                    <div class="lrline pb-3"><span>{{ portfolio.section_title }}</span></div>
                    <h2>{{ portfolio.main_title }}</h2>
                    <h5 class="pt-2">{{ portfolio.description }}</h5>
                </div>
            </div>
        </div>
        
        <!-- Filtres -->
        <div class="row pt-5 pb-3">
            <div class="col-12">
                <div id="options" class="animated" data-animation="fadeInUp" data-animation-delay="200">
                    <ul id="filters" class="option-set clearfix" data-option-key="filter">
                        <li><a href="#filter" data-option-value="*" class="selected">ALL</a></li>
                        {% for category in categories %}
                        {% if category.is_active %}
                        <li><a href="#filter" data-option-value=".{{ category.css_class }}">{{ category.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Portfolio Items -->
                <div class="make4columns portfolio-grid">
                    {% for item in portfolio_items %}
                    {% if item.is_active %}
                    <!-- Project Starts -->
                    <figure class="item {{ item.category.css_class }}">
                        <div class="picture">
                            <img src="{{ item.thumbnail.url }}" alt="{{ item.title }}">
                            <!-- Picture Overlay Starts -->
                            <div class="text-overlay">
                                <div class="category">{{ item.category.name }}</div>
                                <h2>
                                    {% if item.is_video %}
                                    <a class="{{ item.get_popup_class }}" href="{{ item.video_url }}">
                                        {{ item.title }}
                                    </a>
                                    {% else %}
                                    <a class="{{ item.get_popup_class }}" href="{{ item.get_media_url }}" title="{{ item.title }}">
                                        {{ item.title }}
                                    </a>
                                    {% endif %}
                                </h2>
                            </div>
                            <div class="icon-overlay">
                                <div class="icon">
                                    {% if item.is_video %}
                                    <a class="{{ item.get_popup_class }}" href="{{ item.video_url }}">
                                        <i class="las la-expand-arrows-alt"></i>
                                    </a>
                                    {% else %}
                                    <a class="{{ item.get_popup_class }}" href="{{ item.get_media_url }}" title="{{ item.title }}">
                                        <i class="las la-expand-arrows-alt"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Picture Overlay Ends -->
                        </div>
                    </figure>
                    <!-- Project Ends -->
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. PORTFOLIO ENDS -->