{% load static %}

<!-- VIDEO STARTS -->
{% if video_section.is_active %}
<section class="video bg-img text-center" style="{{ video_section.get_background_style }}">
    <div class="container">
        <div class="row">
            <div class="col-12 animated" data-animation="fadeInUp" data-animation-delay="100">
                <h6>
                    <a class="popup-vimeo" href="{{ video_section.video_url }}">
                        <i class="{{ video_section.play_icon }}"></i>
                        {% if video_section.button_text %}
                        &nbsp;{{ video_section.button_text }}
                        {% endif %}
                    </a>
                </h6>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- /.. VIDEO ENDS -->