{% load static %}

<!-- COLLECTION DETAILS STARTS -->
<section class="services-details" id="services">
    <div class="container">
        <div class="row">
            <!-- Left Column Starts--> 
            <div class="col-lg-3">
                <!-- Collections List Starts -->
                <div class="services-list animated" data-animation="fadeInUp" data-animation-delay="200">
                    <ul>
                        {% for collection in all_collections %}
                        <li class="{% if collection.slug == current_collection.slug %}active{% endif %}">
                            <a href="{{ collection.get_absolute_url }}">
                                {{ collection.name }} <i class="las la-arrow-right"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Collections List Ends -->
                <div class="support pt-5">
                    <img src="{% static 'website/assets/imgs/about/expert-consultation.jpg' %}" class="img-fluid" alt="Consultation experte">
                    <div class="info">
                        <div class="icon"><i class="las la-gem"></i></div>
                        <div class="number">
                            <h4>Conseil personnalisé ?</h4>
                            <div><a href="tel:+33123456789">+33 1 23 45 67 89</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left Column Ends -->
            
            <!-- Right Column Starts-->
            <div class="col-lg-8 offset-lg-1">
                <div class="text-left">
                    <h3 class="pb-3">{{ current_collection.name }} - {{ current_collection.material }}</h3>
                    <p>{{ current_collection.short_description }}</p>
                    
                    <div class="pic pb-3 pt-3">
                        <img src="{{ current_collection.main_image.url }}" class="img-fluid" alt="{{ current_collection.name }}">
                    </div>
                    
                    <p>{{ current_collection.long_description }}</p>
                    
                    <!-- Caractéristiques -->
                    {% if current_collection.features.all %}
                    <div class="home-features pt-4">
                        <div class="block ps-0">
                            <h3 class="pb-3">Pourquoi choisir {{ current_collection.material }} ?</h3>
                            <p>{{ current_collection.name }} offre le parfait équilibre entre beauté, durabilité et accessibilité.</p>
                            <div class="accordion pt-3" id="accordionExample">
                                {% for feature in current_collection.features.all %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                        <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" 
                                                type="button" 
                                                data-bs-toggle="collapse" 
                                                data-bs-target="#collapse{{ forloop.counter }}" 
                                                aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" 
                                                aria-controls="collapse{{ forloop.counter }}">
                                            {{ feature.title }}
                                        </button>
                                    </h2>
                                    <div id="collapse{{ forloop.counter }}" 
                                         class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" 
                                         aria-labelledby="heading{{ forloop.counter }}" 
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            {{ feature.description }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <!-- Processus de fabrication -->
                    {% if current_collection.fabrication_process %}
                    <h3 class="pb-3 pt-5">Notre Processus de Fabrication</h3>
                    <p>{{ current_collection.fabrication_process }}</p>
                    {% endif %}
                    
                    <!-- Call to Action -->
                    <div class="cta-section pt-5 text-center">
                        <h4 class="pb-3">Prêt à découvrir la collection ?</h4>
                        <a href="/contact/" class="btn btn-primary">Demander un devis</a>
                    </div>
                </div>
            </div>
            <!-- Right Column Ends -->
        </div>
    </div>
</section>
<!-- COLLECTION DETAILS ENDS -->