{% load static %}

<style>
    /* AJOUTE CE STYLE POUR RENDRE LES IMAGES RONDES */
    .service-block .icon img {
        border-radius: 50% !important;
        width: 80px !important;
        height: 80px !important;
        object-fit: cover !important;
        display: block;
        margin: 0 auto 15px !important;
    }
    
    /* Pour s'assurer que les blocs sont alignés */
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .col-12.col-lg-4 {
        display: flex;
        justify-content: center;
    }
    
    .service-block {
        width: 100%;
        max-width: 300px;
    }
</style>

<!-- ABOUT US STARTS -->
<section class="home-intro">
    <div class="container">
        <div class="row">
            {% for service in services %}
                {% if service.is_active %}
                <div class="col-12 col-lg-4">
                    <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="{% cycle '300' '400' '100' '200' '100' '200' %}">
                        <div class="icon">
                            {% if service.get_icon_url %}
                                <img src="{{ service.get_icon_url }}" alt="{{ service.title }}">  
                            {% else %}
                                <img src="{% static 'website/assets/imgs/about/default.svg' %}" alt="{{ service.title }}">
                            {% endif %}
                        </div>
                        <div class="text">
                            <h4>{{ service.title }}</h4>
                            <div>{{ service.description }}</div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- /. ABOUT US ENDS -->